{{:include file="./_head.html" home=true}}

{{if $module.config.show_hours !== false}}
	{{#module name="openings"}}
		<article class="opening-next">
			{{:include file="/openings/_next_opening.html"}}
		</article>
		<article class="opening-hours">
			{{:include file="/openings/_all.html"}}
		</article>
	{{/module}}
{{/if}}

{{if $module.config.home_sticky_uri}}
	{{#pages uri=$module.config.home_sticky_uri assign="sticky"}}
		{{:assign hide_date=true}}
	{{/pages}}
{{/if}}

{{if !$sticky}}
	{{#articles order="published DESC" limit=1 assign="sticky"}}
	{{/articles}}
{{/if}}

{{if $sticky}}
	<section class="articles main">
		<article>
			<h1><a href="{{ $sticky.url }}">{{ $sticky.title }}</a></h1>
			{{if !$hide_date}}
			<h5>{{ $sticky.published|relative_date }}</h5>
			{{/if}}
			<p>{{ $sticky.html|raw }}</p>
		</article>
	</section>
{{/if}}

{{#articles order="published DESC" limit=9 duplicates=false}}
<section class="articles">
	<article>
		<h3><a href="{{ $url }}">{{ $title }}</a></h3>
		<h5>{{ $published|relative_date }}</h5>
		<p>{{ $html|raw|strip_tags|truncate:200 }}</p>
	</article>
</section>
{{/articles}}

{{:include file="./_foot.html"}}