{{if $module.config.accounts === null}}
	{{:assign var="module.config.accounts.5112" value='5112'}}
{{elseif $module.config.accounts|gettype === 'string'}}
	{{:include file="/receipt_donation/_upgrade.tpl" keep="module.config.accounts"}}
{{/if}}

{{#foreach from=$transaction_lines item="line"}}
	{{if !$line.credit}}
		{{:continue}}
	{{/if}}

	{{#foreach from=$module.config.accounts key="code"}}
		{{if $line.account_code|strpos:$code === 0}}
			{{:assign show=true}}
			{{:break}}
		{{/if}}
	{{/foreach}}

	{{if $show}}
		{{:break}}
	{{/if}}
{{/foreach}}


{{if $show}}
	<h2 class="ruler">{{$module.label}}</h2>
	<p class="actions-center">
		{{:linkbutton href="%s?id=%d"|args:$module.url:$transaction.id target="_dialog" label="Prévisualiser" shape="eye"}}
		{{if $pdf_enabled}}
			{{:linkbutton href="%s?id=%d&print=pdf"|args:$module.url:$transaction.id label="Télécharger en PDF" shape="download"}}
		{{/if}}
		{{:linkbutton href="%s?id=%d&print=yes"|args:$module.url:$transaction.id target="_blank" label="Imprimer" shape="print"}}
	</p>
{{/if}}