{{if $show === null}}
	{{#foreach from=$transaction_lines item="line"}}
		{{if $line.account_code|regexp_match:'/^7|^4/' && $line.credit}}
			{{:assign show=true}}
			{{:break}}
		{{/if}}
	{{/foreach}}
{{/if}}

{{if $show}}
	<div class="noprint">
		<h2 class="ruler">{{$module.label}}</h2>
		<p class="actions-center">
			{{:linkbutton href="%s?id=%d"|args:$module.url:$transaction.id target="_dialog" label="Prévisualiser" shape="eye"}}
			{{if $pdf_enabled}}
				{{:linkbutton href="%s?id=%d&print=pdf"|args:$module.url:$transaction.id label="Télécharger en PDF" shape="download"}}
			{{/if}}
			{{:linkbutton href="%s?id=%d&print=yes"|args:$module.url:$transaction.id target="_blank" label="Imprimer" shape="print"}}
			{{if $pdf_enabled}}
				{{:linkbutton href="%ssend.html?id=%d"|args:$module.url:$transaction.id target="_dialog" label="Envoyer" shape="mail"}}
			{{/if}}
		</p>
	</div>
{{/if}}